#tabs > ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: .5em;
}

#tabs ul > li > a {
  background: #eeeeee;
  padding: .5em 1em;
  border: 1px solid #cccccc;
  border-right: none;
}

#tabs > ul > li:last-child a {
  border-right: 1px solid #cccccc;
}

#tabs > ul > li > .active {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#tabs > div {
  padding: .5em;
  border: 1px solid #cccccc;
}

.hide {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
